#login {
  .or {
    position: relative;
    top: -24px;
    width: 38px;
    margin: 0 auto;
    padding: 5px 8px;
    background-color: white;
    line-height: 0;
  }

  .social-buttons {
    padding-bottom: 12px;
  }

  .input-group {
    padding-bottom: 8px;
  }
}